body {
  margin: 0;
}

.burg {
  width: 30px;
  height: 30px;
}

.burg-div {
  display: flex;
  justify-content: center;
}

button {
  background-color: transparent;
  border: none;
}

.col {
  padding: 0;
}

.logo-div {
  display: flex;
  justify-content: center;
}

.logo {
  width: 40px;
  height: 40px;
  align-self: center;
}

.my-container {
  border: 1px solid green;
}

.my-row {
  border: 3px solid red;
  height: 80px;
}

@media screen and (max-height: 574px) {
  .my-row {
    height: 80px;
  }
}

.my-row-2 {
  border: 3px solid red;
  height: 85vh;
}

.my-col {
  border: 3px dotted blue;
  padding: 0;
}

.search-bar {
  align-self: center;
  font-size: 10px;
  height: 20px;
}

.search-div {
  display: flex;
  justify-content: center;
}

.user-div {
  display: flex;
  justify-content: center;
}

.user {
  width: 50px;
  height: 50px;
  align-self: center;
}