html,
body {
  margin: 0;
  height: 100vh;
}

.burg {
  width: 30px;
  height: 30px;
}

.burg-div {
  display: flex;
  justify-content: center;
}

.burg-button {
  border: none;
  height: 60%;
  border-radius: 50%;
}

.burg-button:hover {
  background-color: #e1e1e1;
  cursor: pointer;
}

.btn {
  font-size: small;
}

.calendar {
  width: 25px;
}

.col {
  padding: 0;
}

.compose {
  width: 25px;
}

.compose-btn,
.sent-btn,
.trash-btn {
  border-radius: 10px;
  background-color: #e1e1e1;
}

.contact {
  width: 25px;
}

.content-container {
  background-color: white;
  border-radius: 25px;
}

hr {
  width: 75%;
  margin-left: 15px;
}

.logo-div {
  display: flex;
  justify-content: center;
}

.logo {
  width: 40px;
  height: 40px;
  align-self: center;
}

.my-container {
  height: 100%;
}

.my-row-1 {
  background-color: #eeeeee;
}

.my-row-3 {
  border: none;
  height: 60px;
  margin-left: -1px;
}

@media screen and (max-height: 574px) {
  .my-row-1 {
    border: none;
    height: 80px;
  }
}

.my-row-2 {
  border: none;
  height: 85vh;
  background-color: #eeeeee;
}

.my-col {
  border: none;
  padding: 0;
}

.plus {
  width: 25px;
}

.search-bar {
  align-self: center;
  font-size: 10px;
  height: 20px;
}

.search-div {
  display: flex;
  justify-content: center;
}

.sent {
  width: 25px;
}

.tasks {
  width: 25px;
}

.trash {
  width: 25px;
}

.user-div {
  display: flex;
  justify-content: center;
}

.user {
  width: 50px;
  height: 50px;
  align-self: center;
}